h2{
    color: #ffbd39;
    
}

form{
    background-color: rgba(255, 255, 255, 0.1);
    
}

label{
    color: #99999999;
    
}

input , textarea{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: #99999999;
}

input::placeholder , textarea::placeholder{
    color: #99999999;
}

button{
    background-color: rgba(255, 255, 255, 0.1);
}

button:hover{
    -webkit-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 22px 7px rgba(0, 0, 0, 0.75);
}