body{
    background-color: #161616 !important;
}

.mail p{
    font-size: 18px;
}

button{
    width: 8rem !important;
    background-color: #4711E0 !important;
    border-radius: 20px !important;
    padding: 2px 0 !important;
}


/* aboute me section */

.about-me{
    margin-top: 10rem;
}
.about-me img{
    border-radius: 50%;
    width:  100px;
    height: 100px;
}

.icons  > div i{
    font-size: 2rem;
}

.footer-top{
    padding: 11rem 0;
}

.Card{
    height: 25rem;

    -webkit-box-shadow: 1px 1px 22px 0px rgba(71,17,224,1);
-moz-box-shadow: 1px 1px 22px 0px rgba(71,17,224,1);
box-shadow: 1px 1px 22px 0px rgba(71,17,224,1);
}

.Card h2, .Card p{
    color: white;
}

.Card p{
    margin-top: 5rem;
}


.Services img{
    width: 10%;
    margin: 2rem 0 1rem 1.5rem;
}


.footer-top h2{
    font-size: 48px;
}